---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import About from '../components/About';
import Menu from '../components/Menu';
import Gallery from '../components/Gallery';
import Map from '../components/Map';
import Footer from '../components/Footer';
import Lenis from '../components/Lenis';
---

<Layout>
    <div id="site-container">
        <div id="content">
            <Lenis client:only>
                <Header client:only />
                <Hero client:only />
                <About client:only />
                <Menu />
                <Gallery />
                <Map client:only />
                <Footer />
            </Lenis>
        </div>
    </div>
</Layout>
